/* 
    Document   : styleEntete
    Created on : 16 nov. 2011, 14:45:23
    Author     : Yoyogi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

