header {
    height: 100px;
    background-color: #006666;
}

footer {
    height: 30px;
    background-color: #006666;
    
    text-align: center;
    clear: both;
}

nav {
    float: left;
    padding: 10px;
    background-color: #006666;
}

section {
    padding: 10px;
}